<section> 
  <article> 
    <header> 
      <h1>Schedule a Reminder:</h1> 
    </header> 
    
    <p>Welcome to my app!</p> 
    <p>Paragraph2</p>  
  </article> 
  
  <article> 
	<header> 
      <h1>Article Header</h1> 
    </header> 
    
    <p>Have an important date? Can't be late? Enter your message
                 and we'll remind you when the time comes.</p> 
  </article>
</section> 
            